[Unit]
Description=Station météo
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=astro

ExecStart=/usr/local/bin/weatherAstro
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

